.w3-success
{color:#000!important;background-color:#76cd26!important}
.w3-warning
{color:#fff!important;background-color:#f97306!important}
.w3-danger
{color:#fff!important;background-color:#ec2d01!important}
