.w3-secondary-l5 {color:#000 !important; background-color:#fefbf5 !important}
.w3-secondary-l4 {color:#000 !important; background-color:#fcf2dc !important}
.w3-secondary-l3 {color:#000 !important; background-color:#f9e6ba !important}
.w3-secondary-l2 {color:#000 !important; background-color:#f5d997 !important}
.w3-secondary-l1 {color:#000 !important; background-color:#f2cd75 !important}
.w3-secondary-d1 {color:#000 !important; background-color:#ecb535 !important}
.w3-secondary-d2 {color:#000 !important; background-color:#e9ab18 !important}
.w3-secondary-d3 {color:#fff !important; background-color:#ce9613 !important}
.w3-secondary-d4 {color:#fff !important; background-color:#b08010 !important}
.w3-secondary-d5 {color:#fff !important; background-color:#936b0e !important}

.w3-secondary-light {color:#000 !important; background-color:#fefbf5 !important}
.w3-secondary-dark {color:#fff !important; background-color:#936b0e !important}
.w3-secondary-action {color:#fff !important; background-color:#936b0e !important}

.w3-secondary {color:#000 !important; background-color:#efc050 !important}
.w3-text-secondary {color:#efc050 !important}
.w3-border-secondary {border-color:#efc050 !important}

.w3-hover-secondary:hover {color:#000 !important; background-color:#efc050 !important}
.w3-hover-text-secondary:hover {color:#efc050 !important}
.w3-hover-border-secondary:hover {border-color:#efc050 !important}
