.w3-primary-l5 {color:#000 !important; background-color:#e7ffe7 !important}
.w3-primary-l4 {color:#000 !important; background-color:#adffad !important}
.w3-primary-l3 {color:#000 !important; background-color:#5cff5c !important}
.w3-primary-l2 {color:#fff !important; background-color:#0aff0a !important}
.w3-primary-l1 {color:#fff !important; background-color:#00b800 !important}
.w3-primary-d1 {color:#fff !important; background-color:#005c00 !important}
.w3-primary-d2 {color:#fff !important; background-color:#005200 !important}
.w3-primary-d3 {color:#fff !important; background-color:#004700 !important}
.w3-primary-d4 {color:#fff !important; background-color:#003d00 !important}
.w3-primary-d5 {color:#fff !important; background-color:#003300 !important}

.w3-primary-light {color:#000 !important; background-color:#e7ffe7 !important}
.w3-primary-dark {color:#fff !important; background-color:#003300 !important}
.w3-primary-action {color:#fff !important; background-color:#003300 !important}

.w3-primary {color:#fff !important; background-color:#006400 !important}
.w3-text-primary {color:#006400 !important}
.w3-border-primary {border-color:#006400 !important}

.w3-hover-primary:hover {color:#fff !important; background-color:#006400 !important}
.w3-hover-text-primary:hover {color:#006400 !important}
.w3-hover-border-primary:hover {border-color:#006400 !important}
