<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/w3pro.css" />
    <link rel="stylesheet" href="/assets/css/w3.css" />
    <link rel="stylesheet" href="/assets/css/temple-primary.css" />
    <link rel="stylesheet" href="/assets/css/temple-secondary.css" />
    <link rel="stylesheet" href="/assets/css/system-colors.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      {% include "../components/navbar.html" %}

      {% include "../components/hero.html" %}
    </header>
    {{ content }}
    <script src="/assets/js/w3.js"></script>
  </body>
</html>
