<div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-padding-24 w3-hover-green">ABOUT US</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-primary-l5">
      <a href="#" class="w3-bar-item w3-button w3-padding-24 w3-hover-green">Objectives</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24 w3-hover-green">History of the Temple</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24 w3-hover-green">Vacancies</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24 w3-hover-green">Contact us</a>
    </div>
  </div>