<div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-padding-16">ABOUT US</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Objectives</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-16">History of the Temple</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Vacancies</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Contact us</a>
    </div>
  </div>