<div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-padding-24">ABOUT US</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button w3-padding-24">Objectives</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24">History of the Temple</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24">Vacancies</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-24">Contact us</a>
    </div>
  </div>