<div class="w3-dropdown-hover w3-mobile">
  <button class="w3-button w3-padding-16">FIND US</button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a href="#" class="w3-bar-item w3-button w3-padding-16">How to find us</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-16"
      >Shrines in temple</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding-16"
      >Temple pooja calendar</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding-16">Code of conduct</a>
  </div>
</div>
